.home__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  padding: 40px 20px 0 20px;
}

.home__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  margin-bottom: 32px;
}

.home__logo {
  margin-bottom: 16px;
}

.home__title {
  color: #404040;
  margin-bottom: 8px;
}

.home__description {
  color: #8C8C8C;
  font-weight: 700;
}

.home__search {
  width: 100%;
  max-width: 800px;
  margin-bottom: 32px;
}

.home__searchInput {
  width: 100%;
  height: 40px;
  border-radius: 20px;
}

.home__filterBar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  margin-bottom: 32px;
}

.home__searchResult {
  width: 100%;
  color:#B9B9B9;
  font-weight: 500;
  font-size: 18px;
}

.home__filter {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.home__sort {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 32px;
}

.home__heroIcon {
  margin-right: 8px;
}

.home__favorite {
  display:flex;
  align-items: center;
  cursor: pointer;
}

.home__heartIcon {
  margin-right: 8px;
}

.home__filterText {
  color: #FF1510;
  font-weight: 500;
}

.home__heroesList {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.home__heroesCard {
  display: flex;
  flex-direction: column;
  margin-right: 16px;
  margin-bottom: 32px;
}

.home__heroesCard:nth-child(4n+4) {
  margin-right: 0;
}


.home__heroesImageContainer{
  cursor: pointer;
}

.home__heroesImage {
  width: 100%;
  height: 200px;
  border-bottom: 3px solid #FF1510;
  margin-bottom:16px;
}

.home__heroesCardDetail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home__heroesName {
  color: #404040;
  font-weight: 700;
  font-size: 18px;
}

.home__footer {
  width: 100%;
  height: 64px;
  background-color: #FF1510;

  justify-self: flex-end;

}

@media (max-width: 768px){
  .home__heroesCard {
    max-width: 350px;
    display:flex;
    justify-self: center;
  }

  .home__heroesImage{
    max-width: 350px;
    height: 300px;
  }

  .home__heroesList {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr ;
    align-items: center;
    justify-content: center;
  }

  .home__filterBar {
    display: flex;
    flex-direction: column-reverse;
  }

  .home__filter {
    justify-content: flex-start;
    margin-bottom: 16px;
  }
}
